{% extends "base.html" %}
{% block content %}

{% if question %}
    <p>{{ question }}</p>
{% endif %}
{% if options %}
    {% for o in options %}
        {% set id=loop.index-1 %}

        <a class="button option" id="{{id}}"
           href="{{ url_for('main.question_page', result=id) }}"
           onClick=process_result({{id}})>
        • {{o}}
        </a>

        <br><br>
    {% endfor %}
{% endif %}

<script>
function process_result(id) {
    var result = "Wrong";
    var color = "#c13636";
    var answer = '{{answer|safe}}';
    var element = document.getElementById(id);

    if (id == answer){
        result = "Right";
        color = "#4dc136";
    }

    element.style.color = "white";
    element.style.fontWeight = "bold";
    element.style.background = color;
    element.innerHTML = "• "+result+"!";
}
</script>
{% endblock %}