{% extends "base.html" %}
{% block content %}
<body>

<form method=post>

{% if question %}
    <p>{{ question }}</p>
{% endif %}
{% if options %}
    {% for o in options %}
        {% if o == answer %}
            <label class="optionButton correct">
            • {{ o }}
            <input type=submit name="btn" value="correct"/>
            </label>
        {% else %}
            <label class="optionButton wrong">
            • {{ o }}
            <input type=submit name="btn" value="wrong"/>
            </label>
        {% endif %}
        <br><br>
    {% endfor %}
{% endif %}
</form>
</body>
{% endblock %}

