{% extends "base.html" %}
{% block content %}
<body>

<form method=post>

{% if question %}
    <p>{{ question }}</p>
{% endif %}
{% if options %}
    {% for o in options %}

        <label class=optionButton>
        ⚫ {{ o }}
        {% if o == answer %}
            <input type=submit name="btn" value="correct"/>
        {% else %}
            <input type=submit name="btn" value="wrong"/>
        {% endif %}
        </label>

        <br><br>
    {% endfor %}
{% endif %}

</form>
</body>

{% endblock %}

